.featured-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}

.single-img{
    width: 100%;
    object-fit: cover;
    
}

.post-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-height{
    height: 280px;
    position: relative;
}